<a href="https://colab.research.google.com/github/ChamisaE/-project-name-/blob/master/BivariateAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#importing necessary packages
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#importing big huge team dataset 
df = pd.read_csv("/content/drive/My Drive/DS4A Team 114/Data Sets/Clean Data Sets/merged_final_v3.csv", dtype={"geoid":np.str})

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (172,173,174) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head(10)

        geoid  ruca_code  ...  pct_30_59  pct_60_plus
0  1001020100        1.0  ...        NaN          NaN
1  1001020200        1.0  ...  68.068834     6.555586
2  1001020300        1.0  ...  47.857505    13.336714
3  1001020400        1.0  ...        NaN          NaN
4  1001020500        1.0  ...        NaN          NaN
5  1001020600        1.0  ...  44.420321    11.202779
6  1001020700        1.0  ...        NaN          NaN
7  1001020801        2.0  ...  39.815990    14.276650
8  1001020802        2.0  ...  52.374631    11.459895
9  1001020900        2.0  ...  53.383690    28.919377

[10 rows x 186 columns]

# Analyzing Rows 11-20

In [ ]:
#creating new df with just rows 11-20
dfv = df[["geoid",
          "travel_time_total",
          "travel_time_10_less",
          "travel_time_10_14",
          "travel_time_15_19",
          "travel_time_20_24",
          "travel_time_25_29",
          "travel_time_30_34",
          "travel_time_35_44",
          "travel_time_45_59",
          "travel_time_60_plus"]]

In [ ]:
dfv.head()

        geoid  travel_time_total  ...  travel_time_45_59  travel_time_60_plus
0  1001020100                NaN  ...                NaN                  NaN
1  1001020200            18305.0  ...             2745.0               1200.0
2  1001020300            39440.0  ...             7785.0               5260.0
3  1001020400                NaN  ...                NaN                  NaN
4  1001020500                NaN  ...                NaN                  NaN

[5 rows x 11 columns]

In [ ]:
dfv.fillna(0)

             geoid  travel_time_total  ...  travel_time_45_59  travel_time_60_plus
0       1001020100                0.0  ...                0.0                  0.0
1       1001020200            18305.0  ...             2745.0               1200.0
2       1001020300            39440.0  ...             7785.0               5260.0
3       1001020400                0.0  ...                0.0                  0.0
4       1001020500                0.0  ...                0.0                  0.0
...            ...                ...  ...                ...                  ...
74101  53100000000                0.0  ...                0.0                  0.0
74102  54000000000                0.0  ...                0.0                  0.0
74103  54100000000                0.0  ...                0.0                  0.0
74104  55000000000                0.0  ...                0.0                  0.0
74105  55100000000                0.0  ...                0.0                  0.0

[74106 rows x 11 columns]

In [ ]:
#creating a new column called travel_less_than_30, and combining all of the
#columns with travel below 30 min together to populate new column.
dfv["travel_less_than_30"] = df["travel_time_10_less"] + df["travel_time_10_14"] + df["travel_time_15_19"] + df["travel_time_20_24"] + df["travel_time_25_29"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
#creating a new column called travel_30_to_59, and combining all of the
#columns with travel within range together to populate new column.
dfv["travel_30_to_59"] = df["travel_time_30_34"] + df["travel_time_35_44"] + df["travel_time_45_59"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
#initial correlation matrix; with new columns
corr = dfv.corr()
corr.style.background_gradient(cmap="coolwarm").set_precision(2)

In [ ]:
#reduce df to travel time columns

df2 = dfv[['geoid','travel_time_total','travel_less_than_30','travel_30_to_59','travel_time_60_plus']]

In [ ]:
df2

             geoid  travel_time_total  ...  travel_30_to_59  travel_time_60_plus
0       1001020100                NaN  ...              NaN                  NaN
1       1001020200            18305.0  ...          12460.0               1200.0
2       1001020300            39440.0  ...          18875.0               5260.0
3       1001020400                NaN  ...              NaN                  NaN
4       1001020500                NaN  ...              NaN                  NaN
...            ...                ...  ...              ...                  ...
74101  53100000000                NaN  ...              NaN                  NaN
74102  54000000000                NaN  ...              NaN                  NaN
74103  54100000000                NaN  ...              NaN                  NaN
74104  55000000000                NaN  ...              NaN                  NaN
74105  55100000000                NaN  ...              NaN                  NaN

[74106 rows x 5 columns]

In [ ]:
#correlation matrix; with only reduced columns
corr = df2.corr()
corr.style.background_gradient(cmap="coolwarm").set_precision(2)

Find % of people traveling for each range

In [ ]:
df2['%_travel_less_than_30'] = df2['travel_less_than_30'] / df2['travel_time_total']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2

             geoid  ...  %_travel_less_than_30
0       1001020100  ...                    NaN
1       1001020200  ...               0.253756
2       1001020300  ...               0.388058
3       1001020400  ...                    NaN
4       1001020500  ...                    NaN
...            ...  ...                    ...
74101  53100000000  ...                    NaN
74102  54000000000  ...                    NaN
74103  54100000000  ...                    NaN
74104  55000000000  ...                    NaN
74105  55100000000  ...                    NaN

[74106 rows x 6 columns]

In [ ]:
df2['%_travel_30_to_59'] = df2['travel_30_to_59'] / df2['travel_time_total']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2

             geoid  travel_time_total  ...  %_travel_less_than_30  %_travel_30_to_59
0       1001020100                NaN  ...                    NaN                NaN
1       1001020200            18305.0  ...               0.253756           0.680688
2       1001020300            39440.0  ...               0.388058           0.478575
3       1001020400                NaN  ...                    NaN                NaN
4       1001020500                NaN  ...                    NaN                NaN
...            ...                ...  ...                    ...                ...
74101  53100000000                NaN  ...                    NaN                NaN
74102  54000000000                NaN  ...                    NaN                NaN
74103  54100000000                NaN  ...                    NaN                NaN
74104  55000000000                NaN  ...                    NaN                NaN
74105  55100000000                NaN  ...                    NaN                NaN

[74106 rows x 7 columns]

In [ ]:
df2['%_travel_over_60'] = df2['travel_time_60_plus'] / df['travel_time_total']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2

             geoid  travel_time_total  ...  %_travel_30_to_59  %_travel_over_60
0       1001020100                NaN  ...                NaN               NaN
1       1001020200            18305.0  ...           0.680688          0.065556
2       1001020300            39440.0  ...           0.478575          0.133367
3       1001020400                NaN  ...                NaN               NaN
4       1001020500                NaN  ...                NaN               NaN
...            ...                ...  ...                ...               ...
74101  53100000000                NaN  ...                NaN               NaN
74102  54000000000                NaN  ...                NaN               NaN
74103  54100000000                NaN  ...                NaN               NaN
74104  55000000000                NaN  ...                NaN               NaN
74105  55100000000                NaN  ...                NaN               NaN

[74106 rows x 8 columns]

# Analyzing 21-24

In [ ]:
df

             geoid  ruca_code  ...  pct_30_59  pct_60_plus
0       1001020100        1.0  ...        NaN          NaN
1       1001020200        1.0  ...  68.068834     6.555586
2       1001020300        1.0  ...  47.857505    13.336714
3       1001020400        1.0  ...        NaN          NaN
4       1001020500        1.0  ...        NaN          NaN
...            ...        ...  ...        ...          ...
74101  53100000000        NaN  ...        NaN          NaN
74102  54000000000        NaN  ...        NaN          NaN
74103  54100000000        NaN  ...        NaN          NaN
74104  55000000000        NaN  ...        NaN          NaN
74105  55100000000        NaN  ...        NaN          NaN

[74106 rows x 186 columns]

In [ ]:
df3 = df[['geoid','rent_median','vehicle_total','vehicle_0','vehicle_0_pct']]

In [ ]:
df3

             geoid  rent_median  vehicle_total  vehicle_0  vehicle_0_pct
0       1001020100        749.0          709.0        7.0            1.0
1       1001020200        777.0          688.0       98.0           14.2
2       1001020300        902.0         1360.0       63.0            4.6
3       1001020400        933.0         1675.0       21.0            1.3
4       1001020500       1169.0         4483.0      199.0            4.4
...            ...          ...            ...        ...            ...
74101  53100000000          NaN            NaN        NaN            NaN
74102  54000000000          NaN            NaN        NaN            NaN
74103  54100000000          NaN            NaN        NaN            NaN
74104  55000000000          NaN            NaN        NaN            NaN
74105  55100000000          NaN            NaN        NaN            NaN

[74106 rows x 5 columns]

In [ ]:
#correlation matrix; with only reduced columns
corr = df3.corr()
corr.style.background_gradient(cmap="coolwarm").set_precision(2)

In [ ]:
frames = [df2, df3]
df_comb = pd.merge(df3, df2, on='geoid', how='outer')

In [ ]:
df_comb

             geoid  rent_median  ...  %_travel_30_to_59  %_travel_over_60
0       1001020100        749.0  ...                NaN               NaN
1       1001020200        777.0  ...           0.680688          0.065556
2       1001020300        902.0  ...           0.478575          0.133367
3       1001020400        933.0  ...                NaN               NaN
4       1001020500       1169.0  ...                NaN               NaN
...            ...          ...  ...                ...               ...
74101  53100000000          NaN  ...                NaN               NaN
74102  54000000000          NaN  ...                NaN               NaN
74103  54100000000          NaN  ...                NaN               NaN
74104  55000000000          NaN  ...                NaN               NaN
74105  55100000000          NaN  ...                NaN               NaN

[74106 rows x 12 columns]

In [ ]:
#correlation matrix; with reduced columns and vehicle count columns
corr = df_comb.corr()
corr.style.background_gradient(cmap="coolwarm").set_precision(2)

In [ ]:
Analysis for variables 11-24 (+ combined columns)

Variables: 

travel_time_total
travel_time_10_less
travel_time_10_14
travel_time_15_19
travel_time_20_24
travel_time_25_29
travel_time_30_34
travel_time_35_44
travel_time_45_59
travel_time_60_plus
rent_median
vehicle_total
vehicle_0
vehicle_0_pct
---

Columns added:
travel_less_than_30
travel_30_to_59
travel_time_60_plus
%_travel_less_than_30
%_travel_30_to_59
%_travel_over_60


#In this portion of the data, there was a section of very granular ranges of travel times. 
#I was tasked with minimizing the number of columns into something a little more useful 
#for us. We combined the ranges into new columns called 'travel_less_than_30', 'travel_30_to_59', 
#'travel_time_60_plus', '%_travel_less_than_30', '%_travel_30_to_59', and '%_travel_over_60'

#From there I created a correlation matrix to better understnad the relationships between the variables
#in my portion and found that there's a correlated trend between having a car and how long a commute
#is to work. It seems as if a majority of people commuting report having a commute betwen 30-59 min.
# The inverse is also true, if you don't have a vehicle, your total travel time to work is negatively 
#correlated, so you have a very short commute. Further analysis is needed to understand the relationship
#between rent median and commute; I hypothesize that if you're living in a densely populated metro area
#with strong transit infrastructure, you probably don't own a car and you either work from home or have 
#a commute solidly shorter than 30 minutes.